*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-size: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Tomorrow', sans-serif;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}