/* Header section */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.199);
    padding: .625rem 0;
    z-index: 2;
}

.nav-logo {
    width: 12rem;
    height: auto;
    display: block;
    color: rgb(0, 0, 0);
}

.nav-list {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
}

.buttons {
    position: relative;
    color: rgb(0, 0, 0);
}

.buttons::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: rgb(128, 0, 128);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 260ms ease-in-out;
}

.buttons:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hero {
    max-width: 100%;
    min-height: 90vh;
    background-image: url(../img/hero_banner.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.705);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-title {
    font-size: clamp(2.6rem, calc(1.5rem + 2vw), 6rem);
    font-weight: 600;
    line-height: 1.2;
    max-width: 800px;
    margin: 0 auto 1rem;
    color: lch(100% 0.01 296.81);
}

.hero-text {
    font-size: clamp(1.2rem, calc(.5rem + 1vw), 3rem);
    font-weight: 300;
    max-width: 700px;
    margin: 0 auto;
    color: rgb(221, 221, 221);
}

/* About Us section */

.about-us {
    max-width: 100%;
    padding: 10vh 0;
}

.about-title {
    font-size: clamp(1.8rem, calc(.3rem + 2vw), 3rem);
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5rem;
}

.about-img {
    width: 40%;
    float: right;
    shape-outside: url(../img/about_us_car.png);
    shape-margin: 1rem;
}

.about-text {
    font-size: clamp(1.1rem, calc(0.2rem + 1vw), 3rem);
    font-weight: 400;
    text-align: left;
}